body {
    background-color: #1f1f1f;
    color: #f4f8f9;
    font-family: 'Alegreya Sans', sans-serif, "Lucida Sans Unicode";
    text-align: justify;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    font-size: 20px;
}

header span {
    float: right;
}

::selection {
    color: #1f1f1f;
    background: #f4f8f9;
}

a {
    color: #bec4c6;
    text-decoration: none;
}

a:hover {
    color: #f4f8f9;
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background: #f4f8f9;
    opacity: 0.5;
}

/*notes*/
.note_blocks {
    margin:0 auto;
}

.note_block p {
    margin: 0;
    word-wrap: break-word;
}

.note_block {
    float: left;
    height: max-content;
    width: 200px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    background: #1f1f1f;
    color: #f4f8f9;
    margin: 5px;
}

/*edit/make note*/
input[type="text"], input[type="password"], textarea {
    background: #1f1f1f;
    border: 1px solid rgba(244, 248, 249, 0.5); /*#f4f8f9*/
    border-radius: 5px;
    color: #f4f8f9;
    font-size: 16px;
    padding: 5px;
    outline: none;
    font-family: 'Alegreya Sans', sans-serif, "Lucida Sans Unicode";
    width: 100%;
}

textarea {
    resize: none;
}

p span {
    color: red;
}

.error_margin {
    line-height: 0.1em;
}

/*login, registration*/
.login_page input[type="text"],
.register_page input[type="text"],
input[type="password"] {
    width: 200px;
}
