body {
    background-color: #1f1f1f;
    color: #f4f8f9;
    font-family: 'Alegreya Sans', sans-serif, "Lucida Sans Unicode";
    text-align: justify;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    font-size: 20px;
}

header span {
    float: right;
}

::selection {
    color: #1f1f1f;
    background: #f4f8f9;
}

a {
    color: #bec4c6;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

a:hover {
    color: #f4f8f9;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

hr {
    border: 0;
    height: 1px;
    background: #f4f8f9;
    opacity: 0.5;
}

/*notes*/
.note_blocks {
    margin: 0 auto;
    user-select: none;
}

.note_block p {
    margin: 0;
    word-wrap: break-word;
}

.note_block {
    float: left;
    height: max-content;
    width: 200px;
    padding: 10px;
    border: 1px solid rgba(244, 248, 249, 0.5);
    border-radius: 10px;
    background: #1f1f1f;
    color: #f4f8f9;
    margin: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.note_block:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border: 1px solid rgba(244, 248, 249, 1);
    cursor: pointer;
}

.note_header {
    max-height: calc(19px * 3);
    overflow: hidden;
    line-height: 19px; /*16*1.2*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.note_body {
    padding-top: 4px; /*padding 10 - (19-16) * 2*/
    max-height: calc(19px * 18);
    min-height: calc(19px * 2);
    overflow: hidden;
    line-height: 19px; /*16*1.2*/
    display: -webkit-box;
    -webkit-line-clamp: 18;
    -webkit-box-orient: vertical;
}

.note_delete {
    background: #1f1f1f;
    width: 200px;
    /*display: none;*/
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.note_block:hover .note_delete {
    /*display: block;*/
    opacity: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

/*edit/make note*/
input[type="text"], input[type="password"], textarea {
    background: #1f1f1f;
    border: 1px solid rgba(244, 248, 249, 0.5); /*#f4f8f9*/
    border-radius: 5px;
    color: #f4f8f9;
    font-size: 16px;
    padding: 5px;
    outline: none;
    font-family: 'Alegreya Sans', sans-serif, "Lucida Sans Unicode";
    width: 100%;
}

textarea {
    resize: none;
}

/*login, registration*/
.login_page input[type="text"],
.register_page input[type="text"],
input[type="password"] {
    width: 200px;
}

/*other*/
p span {
    color: red;
}

.error_margin {
    line-height: 0.1em;
}

input[type="submit"] {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    background: #1f1f1f;
    border: 1px solid rgba(244, 248, 249, 0.5); /*#f4f8f9*/
    border-radius: 5px;
    color: #f4f8f9;
    font-size: 16px;
    padding: 5px;
    outline: none;
    font-family: 'Alegreya Sans', sans-serif, "Lucida Sans Unicode";
    width: 100px;
}

input[type="submit"]:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    background: #f4f8f9;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: bold;
}


/*notification*/
div.jGrowl div.dark_theme {
    background: #1f1f1f;
    border: 1px solid rgba(244, 248, 249, 0.5); /*#f4f8f9*/
    border-radius: 5px;
    color: #f4f8f9;
    opacity: 1;
    font-size: 16px;
    font-family: 'Alegreya Sans', sans-serif, "Lucida Sans Unicode";
}