{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.header(size=32) }}<br>
        {% for error in form.header.errors %}
    <p class="error_margin">
        <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.body(size=32) }}<br>
        {% for error in form.body.errors %}
    <p class="error_margin">
        <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}
        <span>{{ LanguageForm.firstLang() }}
        {{ LanguageForm.secondLang() }}
            <a id="translateLink" href="javascript:translate();">123333</a></span></p>
    <span id="translateErrors"></span>
    <script>
        function translate() {
            $('#translateLink').html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            sourceLang = $("#firstLang").val();
            destLang = $("#secondLang").val();
            $.post('/translate', {
                text: $('#body').text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                if(response['text'] == 'Error: the translation service failed.'){
                    $('#translateErrors').text(response['text'])
                } else {
                    $('#body').text(response['text'])
                }
                $('#translateLink').html('123333');
            }).fail(function() {
                $('#translateErrors').text("{{ ('Error: Could not contact server.') }}");
                $('#translateLink').html('123333');
            });
            $.post('/translate', {
                text: $('#header').val(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                if(response['text'] == 'Error: the translation service failed.'){
                    $('#translateErrors').text(response['text'])
                } else {
                    $('#header').val(response['text'])
                }
            }).fail(function() {
                $('#translateErrors').text("{{ ('Error: Could not contact server.') }}");
            });
        }
    </script>
</form>
{% endblock %}