{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.header(size=32) }}<br>
        {% for error in form.header.errors %}
    <p class="error_margin">
        <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.body(size=32) }}<br>
        {% for error in form.body.errors %}
    <p class="error_margin">
        <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}
        <span id="translateTools"><span>Translate from:</span>{{ LanguageForm.firstLang() }}<span>to:</span>
        {{ LanguageForm.secondLang() }}</span></p>
            <span id="translateTools2"><a id="translateLink" href="javascript:translate();">Translate</a>
            <a id="resetLink" href="javascript:reset();">Reset</a></span>
    <span id="translateErrors"></span>
    <!-- for translation -->
    <script>
        function translate() {
            $('#body').addClass('process');
            $('#header').addClass('process');
            $('#body' ).prop("disabled", true);
            $('#header').prop("disabled", true);
            $('#translateErrors').text('');
            sourceLang = $("#firstLang").val();
            destLang = $("#secondLang").val();
            $.post('/translate', {
                text: $('#body').val(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
               ifDone(response, $('#body'));
            }).fail(function() {
                ifFail($('#body'));
            });
            $.post('/translate', {
                text: $('#header').val(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                ifDone(response, $('#header'));
            }).fail(function() {
                ifFail($('#header'));
            });
        }

        function ifDone(response, element){
            if(response['text'] == 'Invalid API Key' ||
                response['text'] == 'API key is locked' ||
                response['text'] == 'The daily limit on the amount of translated text has been exceeded' ||
                response['text'] == 'Maximum text size exceeded' ||
                response['text'] == 'Text cannot be translated' ||
                response['text'] == 'The specified translation direction is not supported' ||
                response['text'] == 'Translation error'){
                $('#translateErrors').text(response['text'])
            } else {
                $(element).val(response['text'])
                const body = document.getElementById('body');
                body.style.height = 'auto';
                body.style.height = (body.scrollHeight) + 'px';
            }
            $(element).removeClass('process');
            $(element).prop("disabled", false);
        }

        function ifFail(element){
            $('#translateErrors').text("{{ ('Error: Could not contact server.') }}");
            $(element).removeClass('process');
            $(element).prop("disabled", false);
        }
    </script>
    <!-- for reset header and body after translation -->
    <script>
        let headerDefault = '';
        let bodyDefault = '';
        window.onload = function() {
            headerDefault = $('#header').val();
            bodyDefault = $('#body').val();
        };

        function reset() {
            $('#header').val(headerDefault);
            $('#body').val(bodyDefault);
            const body = document.getElementById('body');
            body.style.height = 'auto';
            body.style.height = (body.scrollHeight) + 'px';
        }
    </script>
</form>
{% endblock %}